html {
  /* font-family: "Franklin Hothic Medium", "Arial Narrow", Arial, sans-serif; */
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(brickwall.jpg);
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: neon;
  src: url(./hellodenverdisplayregular_v1.6.ttf);
}

.neon-text {
  font-family: neon;
  font-size: 14rem;
  text-align: center;
  color: #ffd8d8;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
    0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}

@media (max-width: 800px) {
  .neon-text {
    font-size: 8rem;
  }
}
